{% extends 'user_layout.html' %}

{% block content %}
<div class="container">
    <div style="margin-bottom: 20px" class="clearfix">


    </div>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
            订单管理
        </div>

        <!-- Table -->
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>用户ID</th>
                <th>商品ID</th>
                <th>成交时间</th>
                <th>成交数量</th>
                <th>成交价格</th>
                <th>订单状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>

            {% for obj in users %}
            <tr>
                <td>{{obj.uid}}</td>
                <td>{{obj.iid}}</td>
                <td>{{obj.trade_time}}</td>
                <td>{{obj.trade_count}}</td>
                <td>{{obj.price}}</td>
                <td>{{obj.get_status_display}}</td>
                <td>
                    <a class="btn btn-info btn-xs" href="/order/{{obj.id}}/send/">发货</a>
                    <a class="btn btn-danger btn-xs" href="/order/{{obj.id}}/delete/">
                   {% if obj.status == 2 %}
                       删除</a>
                    {% else %}
                        取消</a>
                    {% endif %}
                </td>

            </tr>
            {% endfor %}

            </tbody>
        </table>


    </div>
    <div class="clearfix" >
            <ul class="pagination">
                {{ page_string }}
            </ul>
    </div>
</div>

{% endblock %}