{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1/css/bootstrap.css' %}">
    <style>
        .navbar {
            border-radius: 15px;
        }
    </style>
{% block css %}{% endblock %}
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/user_home">首页</a>
        </div>


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/user/shop/list/">店铺</a></li>
                <li><a href="/user/order/list/">我的订单</a></li>
                {% if request.session.info.level == 2 %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">店铺管理<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/shop/info/">店铺信息</a></li>
                            <li><a href="/shop/item/list/">店铺商品</a></li>
                            <li><a href="/shop/order/list/">店铺订单</a></li>

                        </ul>
                    </li>
                {% else %}
                    <li><a href="/user/shop/add/">申请开店</a></li>
                {% endif %}
            </ul>

            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false" style="font-size: 15px">{{request.session.info.name}}<span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/user/{{request.session.info.id}}/info">个人信息</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/logout">注销</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div>


       {% block content %}{% endblock %}

</div>

<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-3.4.1/js/bootstrap.js' %}"></script>
{% block js %}{% endblock %}
</body>
</html>